@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.flight-table {
  display: flex;
  flex-direction: column;
  margin: 0 50px 40px;
  width: 100%;
  max-width: $content-width;
  border-collapse: collapse;

  &__line {
    &__header {
      display: flex;
      text-align: left;
      align-items: center;
      line-height: 40px;
      color: $color-text-grey;
      background-color: $color-white;

      .header__item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 16px 12px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;

        @include for-large-down {
          font-size: 14px;
        }
      }
    }

    &__info {
      position: relative;
      z-index: 1;
      display: flex;
      text-align: left;
      transition: 0.4s;

      .flight-table__item {
        padding: 16px 12px;
        height: 72px;
        line-height: 40px;
        text-align: center;
        font-size: 18px;
        font-weight: 400;

        @include for-large-down {
          height: 65px;
          line-height: 30px;
          font-size: 14px;
        }
      }

      &:hover {
        z-index: 2;
        box-shadow: $shadow-table-info-line;

        .flight-details {
          display: inline;
          color: $color-blue;
          border-bottom: 1px solid;
          transition: linear 0.3s;

          &:hover {
            border: none;
          }
        }
      }
    }
  }

  .terminal {
    width: 180px;

    .flight-terminal {
      color: #63c745;
      font-weight: 700;
      border: 1px solid #63c745;
      border-radius: 50%;
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 35px;
      font-size: 22px;

      @include for-large-down {
        width: 26px;
        height: 26px;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
  .loctime {
    width: 220px;
  }
  .destination {
    width: 250px;
  }

  .airline {
    width: 180px;
  }
  .flight-num {
    width: 100px;
  }

  .nothing-found {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 350px;
    font-size: 30px;
    font-weight: 600;
    padding: 0 50px;
    background-color: $color-white;

    span {
      font-weight: 600;
    }
  }
}

.flight-table__line__info:nth-child(even) {
  background-color: $color-white;
}
